* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgba(30,87,153,0), rgba(188, 143, 143,0.4), rgba(	222, 184, 135,0.4),
  rgba(255, 248, 220,0)), url(../img/Bg.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: 'Lobster', Arial, sans-serif;
}

.header {
  text-shadow: #FFFFFF 0.8em 0.7em 1.7em;
  cursor: pointer;
  line-height: 3em;
}

.title {
  font-weight: bold;
  font-size: 2.8em;
  color: #8B0000;
  letter-spacing: 0.25em;
}

.title:hover {
  color: inherit;
  transition: all 0.5s ease;
}

.sub-title {
  cursor: pointer;
  font-size: 1.7em;
  color: #2F4F4F;
  letter-spacing: 0.15em;
}

.main {
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts {
  list-style: none;
}

.contact {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #FFDEAD;
  float: left;
  transition: all 0.5s ease;
}

.fa {
  color: #2F4F4F;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/*facebook*/
.contact:hover.contact__facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.contact:hover .fa-contact__facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/* google */
.contact:hover.contact__google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.contact:hover .fa-contact__google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.contact:hover.contact__whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.contact:hover .fa-contact__whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/* github */
.contact:hover.contact__github {
  border: 5px solid #708090;
  box-shadow: 0 0 15px #708090;
  transition: all 0.5s ease;
}

.contact:hover .fa-contact__github {
  color: #708090;
  text-shadow: 0 0 15px #708090;
  transition: all 0.5s ease;
}


.footer {
  margin-top: 3em;
  align-self: stretch;
  transition: all 0.8s ease;
}

.download {
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bolder;
  color: #800000;
  transition: all 0.8s ease;
  display: block;
}

.footer:hover {
  color: #000000;
  transition: all 0.5s ease;
}

.footer:hover .download {
  color: #000000;
  text-shadow: 0 0 15px inherit;
  transition: all 0.8s ease;
}

/* media queries */
@media screen and (max-width: 500px){
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .download {
    color: #FFDEAD;
  }
}
