/*
#ourProduct
*/


.ourProduct {
  color: #262626;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 130px 60px 1fr 150px;
	background-image: url(../img/ourProduct.png);
	background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 30% 70%;
}

.ourProduct-title {
  grid-column: 1/span 14;
	grid-row: 1/span 1;
  justify-self: center;
	align-self: flex-end;
	cursor: default;
}

.ourProduct-subtitle {
	grid-column: 1/span 14;
	grid-row: 2/span 1;
	justify-self: center;
	align-self: flex-end;
	cursor: default;
	padding-bottom: 40px;
}

.ourProduct-items {
  grid-column: 2/span 12;
	grid-row: 3/span 1;
  display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 60px);
  grid-template-areas: "item__1 . item__4"
                       "item__2 . item__5"
                       "item__3 . item__6";
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourProduct-item {
  border: 1px solid #e7e7e7;
  list-style: none;
	cursor: default;
  padding-top: 20px;
  text-transform: uppercase;
  background-image: url(../img/hexagonCheckBorderBlack.png);
  background-size: 10%;
  background-repeat: no-repeat;
  font-weight: bold;
  transition: 1s;
}

.ourProduct-item:hover {
  background-image: url(../img/hexagonCheckBorderRed.png);
  background-color: #ff0036;
  color: #fff;
  transition: 1s;
}

.ourProduct-item__left {
  text-align: right;
  padding-right: 120px;
  background-position: 90% center;
}

.ourProduct-item__right {
  padding-left: 120px;
  background-position: 10% center;
}

.ourProduct-item__1 {
  grid-area: item__1;
}

.ourProduct-item__2 {
  grid-area: item__2;
}

.ourProduct-item__3 {
  grid-area: item__3;
}

.ourProduct-item__4 {
  grid-area: item__4;
}

.ourProduct-item__5 {
  grid-area: item__5;
}

.ourProduct-item__6 {
  grid-area: item__6;
}

.ourProduct__btn {
  grid-column: 7/span 2;
	grid-row: 4/span 1;
  margin: 40px 0 60px;
  text-transform: uppercase;
  background-color: rgba(247, 247, 247, 0.2);
  border: none;
  color: #fff;
  transition: 1s;
}

.ourProduct__btn:hover {
  background-color: rgba(255, 0, 54, .5);;
  border: none;
  color: #fff;
  outline: none;
  transition: 1s;
}

/* Responsive */

@media (max-width:1260px) {
  .ourProduct {
    color: #262626;
  	display: grid;
  	grid-gap: 30px;
  	grid-template-columns: repeat(14, 1fr);
  	grid-template-rows: 130px 60px 1fr 150px;
  	background-image: url(../img/ourProduct.png);
  	background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 30% 45%;
  }
  .ourProduct-items {
    grid-column: 2/span 12;
  	grid-row: 3/span 1;
    display: grid;
  	grid-gap: 20px;
  	grid-template-columns: repeat(2, 1fr);
  	grid-template-rows: repeat(3, 60px);
    grid-template-areas: "item__1 item__4"
                         "item__2 item__5"
                         "item__3 item__6";
    padding-top: 50px;
    padding-bottom: 35%;
  }
}

@media (max-width:885px) {
  .ourProduct {
    background-size: 30% 40%;
  }
  .ourProduct-items {
    padding-bottom: 40%;
  }
}

@media (max-width:790px) {
  .ourProduct__btn {
    grid-column: 6/span 4;
  	grid-row: 4/span 1;
    margin: 40px 12px 60px;
    text-transform: uppercase;
    background-color: rgba(247, 247, 247, 0.2);
    border: none;
    color: #fff;
    transition: 1s;
  }
}

@media (max-width:720px) {
  .ourProduct-items {
  	grid-gap: 15px;
  	grid-template-columns: repeat(1, 1fr);
  	grid-template-rows: repeat(6, 60px);
    grid-template-areas: "item__1"
                         "item__2"
                         "item__3"
                         "item__4"
                         "item__5"
                         "item__6";
    padding-top: 0;
    padding-bottom: 0;
  }
  .ourProduct-item__left {
    text-align: left;
    padding-left: 120px;
    background-position: 10% center;
  }
  .ourProduct {
    background-size: 30% 30%;
  }
  .ourProduct-items {
    padding-bottom: 35%;
  }
}


@media (max-width:600px) {
  .ourProduct {
    background-size: 50% 40%;
  }
  .ourProduct-items {
    padding-bottom: 75%;
  }
}

@media (max-width:480px) {
  .ourProduct {
  	grid-template-rows: 130px 100px 1fr 150px;
  }
  .ourProduct-title {
  	align-self: center;
  }
  .ourProduct-subtitle {
  	align-self: flex-start;
    grid-column: 2/span 12;
  }
  .ourProduct {
    background-size: 50% 30%;
  }
  .ourProduct-items {
    padding-bottom: 75%;
  }
}
